.options-container{
    height:561px ;
    width:512px ;
    margin-top: 70px;

}

.options-btn{
    width: 210px;
    height: 66px;
    margin-top: 19px;
    font-size: 20px;
    font-weight: 600;
    transition: width 0.2s ease-in-out;
}

.options-btn:hover{
    width: 250px;
}

.options-title-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%
}

.options-btn-container{
    display: flex;
    flex-direction: column;
}

.options-title{
    font-size: 36px;
}