.subject-container{
    width:700px;
    height: 60vh;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;


}
.subject{
    width: 200px;
    height: 70px;
    margin: auto;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out;
}

.subject:hover{
    background-color: #006657;
}


.subject-inner-container{
    height: 70%;
    width: 90%;
    overflow: auto;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap:15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  
}

.navigation-btn{
    margin-top:15px;
    display: flex;
    flex-direction: row;
    gap:5px;
    width:400px;
    margin-left: auto;
    margin-right: auto;

}

.olevel-title{
    padding-top:0px;
    font-size: 30px;
}

.switch-container{
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}
.ol-subject-container{
    height: 600px;
    margin-top: 30px;
}

.ol-header{
    display: flex;
    flex-direction: row;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.add-ol-subject-btn{
    /* margin-top: 30px;
    margin-left: 250px; */
    font-size: 18px;
    background-color:#006657 ;
    transition: width 0.15s ease-in-out;


}


.add-ol-subject-btn:hover{
    width: 220px;
}

.switch-btn:hover{
    width: 230px;
}

.switch-btn{
    font-size: 18px;
    background-color:#006657 ;
    transition: width 0.15s ease-in-out;


}

.add-ol-subject-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}


.olevel-title{
    text-align: center;
}

.ol-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}