
.A-Level-Stream-btn-container{
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

.A-Level-Stream-btn{
    width:100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.A-Level-Stream-title{
    text-align: center;
}

.A-Level-Stream-backbtn{
    margin-left: 35%;
}