@media (min-width: 1000px) {
  .custom-progress-bar {
    width: 91vw;
    height: 1vh;
    background-color: #9d9d9d;
    display: flex;
    justify-content: space-between;
    border: 1px solid #9d9d9d;
    padding-top: 0%;
    margin-top: 3.1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 1%;
  }

  .custom-active {
    background-color: #000000 !important;
  }

  .custom-progress-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #ffffff;
    font-weight: bold;
    color: #7ea5cc;
    border: 1px solid #000000;
    margin-top: -0.5%;
    width: 1.3vw;
    height: 2.5vh;
    text-align: center;
    border-radius: 50%;
    z-index: 99;
  }

  .custom-progress-title {
    color: black;
    width: 9vw;
    padding-bottom: 4vh;
    font-size: 1.1vw;
  }
}

@media (max-width: 1000px) {
  .custom-progress-bar {
    display: none;
  }
}
