.O-level-subject-box {
  border: 4px solid black;
  border-radius: 10px;
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* gap: 10%; */
}

.O-level-subject-btn-container {
  width: 95%;
  height: 76%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  overflow: auto;
  margin: auto;
}

.O-subject-level-btn {
  height: 25%;
  width: 45%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(221, 221, 221);
  font-size: 3.6vw;
  text-wrap: wrap;
  margin: auto;
}
.O-level-subject-title {
  text-align: center;
  font-weight: 500;
  font-size: 110%;
}
.O-level-common-subjects-back-next-btn {
  height: 11%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
}

.O-level-common-subjects-back-next-btn .nextbtn {
  width: 30%;
  height: 95%;
}
.OL-subject-btn-selected {
  background-color: black;
  color: white;
}
@media (min-width:480px) and (max-width:786px){
  .O-level-box-title{
    font-size: 5vw;
  }
  .O-subject-level-btn{
    width: 40vw;
    font-size:3.5vw ;
  }
}

@media (min-width:786px) and (max-width:1000px){
  .O-level-box-title{
    font-size: 4.5vw;
  }
  .O-subject-level-btn{
    width: 25vw;
    gap: 0;
    min-height: 15vh;
    font-size:2.5vw ;
    padding: 1%;
  }
}

@media (min-width:1000px) and (max-width:1200px){
 
  .O-subject-level-btn{
    width: 15vw;
    gap: 0;
    min-height: 15vh;
    font-size:1.5vw ;
    padding: 1%;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
 
  .O-level-common-subjects-back-next-btn {
    /* border: 1px solid black; */
    padding: 0%;
  }
  .O-level-common-subjects-back-next-btn .nextbtn {
    height: 90%;
    width: 20%;
  }
  .O-subject-level-btn {
    min-height: 20%;
    width: 30%;
    gap: 3%;
    font-size:1.2vw ;

  }
}
