.add-career-container{
    width:170px;
    height: 80px;
    margin: auto;
    margin-top: 15px;


}
.add-career-btn{
    height: 100%;
    width: 100%;
}

.career-field-inner-container-02{
    height: 370px;
}