.add-career-container{
    display: flex;
    flex-direction: row;
    width:370px;
    gap:10px;
    height: 80px;
    margin: auto;
    margin-top: 15px;


}
.add-career-btn{
    height: 100%;
    width: 100%;
}

.career-field-inner-container-02{
    height: 370px;
}

.delete-field-btn{
    background-color: red;
    color: white;
    font-size: 20px;
}