.send-results-page {
  height: 93vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.send-title {
  grid-column: 1/6;
}

.send-image {
  grid-column: 6/9;
  transform: scaleX(-1);
}

.details-container {
  grid-column: 1/9;
  grid-row: 2/8;
}
.details-form {
  margin: auto;
  width: 95%;
  height: 100%;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-top: 10%;
}

.input {
  width: 80%;
  height: 25%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-box {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.label {
  font-size: 120%;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .send-results-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .send-image {
    grid-column: 10/13;
  }

  .send-title {
    grid-column: 2/8;
  }

  .details-container {
    grid-column: 2/8;
    grid-row: 2/10;
  }
  .send-page-navigation {
    grid-column: 2/8;
    grid-row: 10/12;
    height: 75%;
  }
  .details-form {
    padding: 2%;
    margin: auto;
    gap: 0;
  }
  .input-box {
    height: 50%;
  }
  .input {
    height: 40%;
  }
}
