.sub-acitvities-title-container{
    width:600px;
    border: 1px solid black;
    margin: auto;
}

.sub-acitvities-title{
    text-align: center;
}

.sub-activities-container{
    min-height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
}