.sub-acitvities-title-container{
    width:600px;
    margin: auto;
}

.sub-acitvities-title{
    text-align: center;
}

.sub-activities-container{
    height: 600px;
    width: 650px;
    padding: 20px;
    border: 1px solid black;
    margin: auto;
}



.sub-activities-inner-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    gap: 20px;
    height: 70%;
    width: 90%;
    margin: auto;
}

.sub-activity-btn{
    height: 80px;
    width: 250px;
    font-size: 20px;
    transition: background-color 0.1s ease-in-out;
}

.sub-activity-btn:hover{
    background-color: #006657;
}



.sub-activities-delete-container{
    margin-top: 60px;
}

.add-activity-add-delete-container{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.add-sub-activity-btn{
    width: 200px;
    transition: width 0.1s ease-in-out;
    margin: 0%;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    background-color: #006657;
}

.add-sub-activity-btn:hover{
    width: 100%;
}

.sub-activity-delete-btn{
    margin: 0%;padding: 0%;
    height: 60px;
    font-size: 20px;

}

.sub-activities-delete-container{
    margin: 0%;
}

.add-sub-acitvity-btn-container{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}