.questions-container{
    width:500px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;

}
.questions{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.question-btn{
    height: 80px;
    width: 400px;
    margin: auto;
    display: inline-block;
    text-align: center;

}

.add-question-btn{
    margin-left: 170px;
}

.add-question-container{
    margin-top: 30px;
}