.questions-container{
    width:500px;
    min-height: 600px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;

}
.questions{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.question-btn{
    height: 50px;
    width: 400px;
    margin: auto;
    display: inline-block;
    text-align: center;

}

.add-question-btn{
    margin-left: 170px;
}

.add-question-container{
    margin-top: 30px;
}

.question-inner-container{
    display:flex ;
    flex-direction: row-reverse;
    padding-right: 20px;
}

.delete-icon{
    cursor: pointer;
}
.question-update-btn-container{
    width: 500px;
    display: flex;
    justify-content: center;
}
.question-update-btn{
    height: 30px;
    width: 100px;
}