.title-container{
    width:40vw;
    text-align: center;
    margin-left: 18%;
    margin-top: -2%;
}



.extra-curricular-container{
        
    width:53w;
    height:60vh;
    border: 4px solid black;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-top: 0%;
    overflow-y: auto;
    
}

.extra-curricular-btn-container{
    margin-top: 3%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width:95%;
    height: 90%;
    overflow-y: auto;
    /* border: 1px solid black; */
    
}

.extra-curricular-btn{
    
    width:23%;
    height: 20%;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 15px;
    margin-top: 2%;
    margin-left: 2%;
    
}

.extra-curricular-btn:hover{
    background-color: black;
    color: white;
}

.extra-curricular-btn-selected{
    background-color:red;
    color: black;
}

