body{
  overflow-x: hidden;
}

.home-container {
  display: flex;
  flex-direction: row;
  width:100vw;
  height: 100vh;
}

.home-content {
  margin-left: -1%;
  margin-right: auto;
  /* border: 1px solid black; */
  /* overflow-x: hidden; */
  height: 80vh;
  width:77vw;

}

img {
  /* margin-left: 5%;  */
  margin-top: 20%;
}

h1 {
  font-size: 35px;
  text-align: center;
  /* margin-left: -25%; */
}

/* .step-1{
} */
.allp {
  margin-top: -1%;
  font-size: 20px;
  line-height: 2rem;
  width:95%;
  height: 60%;
  /* border: 1px solid black; */
  text-align: center;
}

.steps {
  /* border: 1px solid black; */
  width:90%;
  height: 60%;
  margin-left: auto;
  margin-top:0%;
  text-align: left;
}

.btn_TakeQuiz{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn_TakeQuiz button {
  margin-top: 20px;
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 35px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;

}

.btn_TakeQuiz button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
}
/* .home-page-title{
  width:200vw;
  height: 20vh;
  border: 1px solid black;
} */

@media(max-width:480px){
  
  .home-container {
    display: flex;
    flex-direction: row;
    height: 150vh;  
  }
    
  
  .home-content {
    width:90vw;
    height: 100vh;
    align-items: center;
    border: 1px solid black;
    margin-right: auto;
    position: relative; 
  } 
  
  img {
    width: 100px; /* Adjust the size of the image */
    max-width: 300px; /* Set a max width to keep the image responsive */
    margin-left: 0%; /* Add space between the image and the text */
    margin-top: 10%;
    border:1px solid black
  }
  
  h1 {
    
    font-size: 25px;
    text-align: center;
   
  }
  
  .allp {
    font-size: 15px;
    position: absolute;
    right:150px;
    border: 1px solid black;
    width:60vw;
   
    
   
  }
  
  .steps {
    margin-top: -2%;
    line-height: 20px;
  }
  
  .btn_TakeQuiz {
    margin-top: 10px;
    width:200px;
    background-color: #000000;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 5%;
  }
  
  .btn_TakeQuiz:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }

.last-p{
  margin-top: 0%;
}

}
