.question-user-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  /* height: 150vh; */
  height: auto;
  width: 100vw;
}

.question-page-frog {
  grid-row: 1/3;
  grid-column: 1/5;
  margin-top: 5%;
  margin-bottom: 5%;
}
.user-info-container {
  display: none;
}
@media (min-width: 786px) and (max-width: 1000px) {
  .question-container-title {
    font-size: 4.5vw;
  }
  .question-page-frog {
    height: 35vh;
  }
}

@media (min-width: 1000px) and (max-width: 1600px) {
  .question-user-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, auto);
    min-height: 85vh;
    margin-bottom: 3%;
  }
  .question-page-frog {
    grid-column: 1/5;
    grid-row: 4/9;
  }
  .user-info-container {
    display: block;
    grid-column: 14/17;
    grid-row: 5/8;
    height: 40vh;
    padding-left: 10%;
    width: 17vw;
    align-items: center;
  }
}
