.O-level-page-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 93vh;
}

.O-Level-frog {
  grid-column: 1/4;
  grid-row: 1/2;
  padding: 5%;
}

.O-level-sub-title {
  text-align: center;
  font-weight: 500;
  font-size: 120%;
}

.O-Level-frog img {
  width: 100%;
}

.frog-comment {
  display: none;
}

.frog-comment p {
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .O-level-page-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }
  .O-Level-frog {
    grid-column: 1/4;
    grid-row: 2/10;
    padding: 0%;
    margin: 0%;
  }
  .O-Level-frog img {
    width: 100%;
    height: 100%;
  }
  .frog-comment {
    display: none;
    grid-column: 4/6;
    grid-row: 1/7;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5%;
  }
}
