.O-level-page-container{
    display: flex;
    flex-direction: row;
    gap:3%;
    background: linear-gradient(180deg, #FFFCFF 63%, #E1BEE7 100%);
    height: 83vh;

    
}

.O-Level-frog{
    width: 27vw;

}

.O-Level-frog img{
    width: 100%;
}

.frog-comment{
    margin-top: 0%;
    margin-left: -2%;
    width: 23%;
    height: 50%;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;

}

.frog-comment p{    
    margin-top: auto;
    margin-bottom: auto;
}

.frog-comment-content{
    margin-top:15%;
    width:90%;
}


 

@media(max-width:500px) {
    
    .frog-img-comment-container{
        display: flex;
        flex-direction: column-reverse;
    }
     
 

    .frog-comment{
        padding: 5px;
        width: 150px;
        height: 300px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 10px;
        margin-left: 10%;
    }
}