.course-url{
    height: 70px;
}

.specialization-select-option{
    width: 360px;
    font-size: 17px;
}

.specialization-name{
    font-size: 40px;
}

.add-spatialization-btn{
    width: 220px;
    margin-left: 25px;
}

.course-update-label{
   height: 60px;
}