.O-level-London-Category-title-container {
  grid-column: 4/9;
  text-align: center;
  align-content: center;
}

@media (min-width: 1000px) and (max-width: 1600px) {
  .O-level-London-Category-title-container {
    grid-column: 6/13;
  }
}
