.O-level-subject-component {
  grid-column: 1/9;
  grid-row: 2/8;
  /* gap: 1%; */
  height: 85vh;
  margin-bottom: 5%;


}

@media (min-width:480px) and (max-width:786px){
.O-level-subject-component{
  height: 90vh;
}
}


@media (min-width:786px) and (max-width:1000px){
  .O-level-subject-component{
    height: 90vh;
  }
  }

@media (min-width: 1000px) and (max-width: 1200px) {
  .O-level-subject-component {
    grid-column: 9/17;
    grid-row:3/15;
    height: 70vh;
    padding: 0%;
    margin: 0;
    /* padding-bottom:7%; */
    /* border: 1px solid black; */
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .O-level-subject-component {
    grid-column: 9/17;
    grid-row: 2/14;
    height: 65vh;

    /* padding-bottom: 7%; */
    /* border: 1px solid black; */
  }
}
