.Question-box{
    border: 2px solid black;
    border-radius: 10px;
    width:550px;
    margin-left: 3%;
    margin-top: 0%;
    height: 90px;
}

.question{
    text-align: center;
    margin-top: 1%;
}

.Question-box-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:8px;
    
}

.answer{
    width:500px;
    margin-left: 2%;
}

.question-box-side-box-container{
    display: flex;
    flex-direction: row;
}
.side-box{
    margin-top: 5%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 3%;
}

.answer-value{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}