/* .Question-box{
    border: 2px solid black;
    border-radius: 10px;
    width:40vw;
    margin-left: 3%;
    height: 11vh;
    
}

.question{
    text-align: center;
    margin-top: 1%;
}

.Question-box-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2%;
    height: 88%;
    
} */
/* 
.answer{
    width:90%;
    margin-top:-2%;
    margin-left: auto;
    margin-right: auto;
}

.answer input{
    width: 100%;
    
}

.question-box-side-box-container{
    display: flex;
    flex-direction: row;
}
.side-box{
    margin-top: 5%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 3%;
}

.answer-value{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

} */

.question-box-container {
  display: flex;
  flex-direction: column;
  padding-top: 0%;
  height: 93%;
  justify-content: space-evenly;
  border: 1px solid black;
  /* margin-top: -2%; */
}

.question-box-side-box-container {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

.question-box {
  border: 3px solid black;
  border-radius: 10px;
  height: 110%;
  width: 86%;
}
.question {
  text-align: center;
}

.answer {
  width: 95%;
  margin-left: 2%;
}

.answer input {
  width: 100%;
}

.side-box {
  border: 3px solid black;
  border-radius: 5px;
  width: 10%;
  height: 50%;
  margin: auto;
  align-content: center;
  text-align: center;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .question-box-container {
    height: 94%;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }

  .questions-navigation-container {
    height: 8%;
    padding-bottom: 0.5%;
  }
  .side-box {
    width: 6%;
    height: 50%;
    text-align: center;
    align-content: center;
  }
}
