.ol-add-container{
    width:600px;
    height: 550px;
    margin: auto;
    border: 2px solid black;
}

.ol-add-header{
    margin: auto;
    width: 600px;
}

.ol-add-title{
    text-align: center;
}

.ol-add-inner-container{
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.add-ol-btn-container{
    height: 70px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.add-ol-btn{
    height: 100%;
    width: 100%;
}
.ol-input-label{
    font-size: 23px;
}

.ol-input{
    height: 40px;
    width: 300px;
    margin-left: 30px;
}

.ol-input-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.ol-intelligence-score{
    width:50px;
    height: 30px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }
  
  footer {
    margin-top: 64px;
  }
  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
    margin-left: 40px;
  }
  
  .dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index: 1;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }