.update-container{
    width: 600px;
    min-height: 550px;
    border: 1px solid black;
    margin: auto;
}
.update-intlligence-container{
    height: 50px;
    margin-top: 15px;

}

.intelligence-btn{
    height: 100%;
    width: 50%;
    margin-left: 5px;
}

.mi_score{
    height: 100%;
    margin-left: 150px;
}

.score-input{
    width: 60px;
}
.update-category-container{
    margin-top: 100px;
}
.category{
    width: 100px;
}

.ol-delete-container{
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: auto;
}

.ol-delete-btn{
    background-color: rgb(251, 38, 38);
    border-radius: 10px;
    border: none;
    height: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

.ol-delete-icon{
    cursor: pointer;
}

.ol-edit-btn-container{
    width: 200px;
}

.ol-btn-container{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    height: 50px;
    flex-direction: row-reverse;

}

.ol-edit-btn{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    margin-left: 60px;
}
.ol-name-update-btn{
    height: 100%;
}

.ol-name-update-container{
    width: 400px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.ol-name-update-input{
    min-width: 100px;
    min-height: 40px;
}


.ol-name-update-label{
    font-size: 25px;
}

.intelligence-input{
   min-width: 200px;
}
