.update-container{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}
.update-intlligence-container{
    height: 50px;
    margin-top: 15px;

}

.intelligence-btn{
    height: 100%;
    width: 50%;
    margin-left: 5px;
}

.mi_score{
    height: 100%;
    margin-left: 150px;
}
.update-category-container{
    margin-top: 100px;
}
.category{
    width: 100px;
}

.ol-delete-container{
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: auto;
    margin-top: 70px;
}

.ol-delete-btn{
    background-color: rgb(251, 38, 38);
    border-radius: 10px;
    border: none;
    height: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

.ol-delete-icon{
    cursor: pointer;
}