.update-container{
    width: 600px;
    min-height: 600px;
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
}
.update-intlligence-container{
    height: 50px;
    margin-top: 15px;
}

.intelligence-btn{
    height: 100%;
    width: 50%;
    margin-left: 25px;
}

.mi_score{
    height: 90%;
    margin-left: 100px;
    width: 100px;
    font-size: 18px;
    border-radius: 10px;

}

.score-input{
    width: 100px;
    text-align: center;
    background-color: #E0E0E0;
    border: none;
    font-family: 'Mulish',sans-serif;
}
.update-category-container{
    margin-top: 100px;
}
.category{
    width: 100px;
    border-radius: 10px;
}

.ol-delete-container{
    display: flex;
    flex-direction: row;
    width: 220px;
    margin: auto;
}

.ol-delete-btn:hover{
    width: 100%;
}


.ol-delete-btn{
    background-color: rgb(251, 38, 38);
    border-radius: 10px;
    border: none;
    height: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: width 0.1s ease-in-out;

}

.ol-delete-icon{
    cursor: pointer;
}

.ol-edit-btn-container{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ol-btn-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: 50px;
    flex-direction: row-reverse;


}


.ol-edit-btn:hover{
    width:200px;
}

.ol-edit-btn{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    background-color: #006657;
    color: white;
    transition: width 0.1s ease-out;

}
.ol-name-update-btn{
    height: 100%;
    width: 250px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Mulish',sans-serif;
    background-color: #E0E0E0;
    border: none;
    padding-left: 10px;
    color: black;

    font-weight: 500;
}

.ol-name-update-container{
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.ol-name-update-input{
    min-width: 100px;
    min-height: 40px;
}


.ol-name-update-label{
    font-size: 22px;
    font-weight: 600;
}

.intelligence-input{
   min-width: 200px;
   background-color: #E0E0E0;
}

.intelligence-btn{
    border-radius: 10px;
    font-size: 18px;
}

.intelligence-input-btn{
    background-color: #E0E0E0;

}