.login-input-container{
   width: 512px;
   height: 339px;
}
.login-title{
   text-align: center;
   padding-top: 27px;
   font-size: 32px;
   font-weight: 700;
}

.login-group{
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 100%;
   justify-content: center;
   align-items: center;
}

.login-input{
   width: 283px;
   height: 42px;
   background-color: #E9E9E9;
   border-radius: 10px;
   border: none;
   margin-top: 17px;
}

.signin-btn{
   width: 178px;
   height: 40px;
   border-radius: 10px;
   font-size: 18px;
   margin-top: 34px;
}

.signin-btn-container{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.login-input::placeholder{
   font-family: 'Mulish',sans-serif;
   padding-left: 10px;
   font-weight: 700;
}