.Calculating-box-container{

    width:500px;
    height:500px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.calculationPage-container{
    display: flex;
    flex-direction: row;
    gap:500px;
    height: 85vh;
    background: linear-gradient(180deg, #FFFCFF 63%, #E1BEE7 100%);

}

.calculating-title{
    text-align: center;
    font-size: 30px;
    width: 300px;
    margin-left: 20%;
}