.intelligence-box{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 580px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 0%;
}

.intelligence-page-container{
    display: flex;
    flex-direction: row;
    gap:200px;
    height: 85vh;
    background: linear-gradient(180deg, #FFFCFF 63%, #E1BEE7 100%);

}

.intelligence-page-description{
    display: flex;
    flex-direction: column;
    width: 300px;
    line-height: 30px;
}

.career-selection-btn{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.intelligence-btn{
    background-color: black;
    color: white;
    padding: 15px;
    width:300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 23px;
    font-size: 100%;
    text-align: left;
    padding-left: 5%;
}

.intelligence-btns-container{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-top: -2%;
}
.intelligence-box-container-title{
    text-align: center;
    margin-top: 2%;
}

.tooltip {
    position: relative;
    display: inline-block;

  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }