.questions-container{
    width:500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 70px;

}
.questions{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.question-btn{
    height: 80px;
    width: 250px;
    margin: auto;
}